body {
  margin-top: 60px;
  background-color: #fdfdfd;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "header" "main" "footer"; }
  @media screen and (max-width: 1200px) {
    body {
      width: 100%; } }
  @media screen and (max-width: 992px) {
    body {
      width: 100%; } }
  @media screen and (max-width: 768px) {
    body {
      width: 100%; } }
  @media screen and (max-width: 576px) {
    body {
      width: 100%; } }

.body2 {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "header" "main" "footer";
  background-image: url("../assets/media/fondo.png");
  background-repeat: no-repeat;
  background-size: cover; }
  @media screen and (max-width: 1200px) {
    .body2 {
      width: 100%; } }
  @media screen and (max-width: 992px) {
    .body2 {
      width: 100%; } }
  @media screen and (max-width: 768px) {
    .body2 {
      width: 100%; } }
  @media screen and (max-width: 576px) {
    .body2 {
      width: 100%; } }

.body3 {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "header" "main" "footer";
  background-image: url("../assets/media/fondo.png");
  background-repeat: no-repeat;
  background-size: cover; }
  @media screen and (max-width: 1200px) {
    .body3 {
      width: 100%; } }
  @media screen and (max-width: 992px) {
    .body3 {
      width: 100%; } }
  @media screen and (max-width: 768px) {
    .body3 {
      width: 100%; } }
  @media screen and (max-width: 576px) {
    .body3 {
      width: 100%; } }

.body4 {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "header" "main" "footer";
  background-image: url("../assets/media/fondo.png");
  background-repeat: no-repeat;
  background-size: contain; }
  @media screen and (max-width: 1200px) {
    .body4 {
      width: 100%; } }
  @media screen and (max-width: 992px) {
    .body4 {
      width: 100%; } }
  @media screen and (max-width: 768px) {
    .body4 {
      width: 100%; } }
  @media screen and (max-width: 576px) {
    .body4 {
      width: 100%; } }

.body5 {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "header" "main" "footer";
  background-image: url("../assets/media/fondo.png");
  background-repeat: no-repeat;
  background-size: contain; }
  @media screen and (max-width: 1200px) {
    .body5 {
      width: 100%; } }
  @media screen and (max-width: 992px) {
    .body5 {
      width: 100%; } }
  @media screen and (max-width: 768px) {
    .body5 {
      width: 100%; } }
  @media screen and (max-width: 576px) {
    .body5 {
      width: 100%; } }

header .navbar {
  transition: all 1s;
  grid-area: header;
  background-color: #fcfcfc;
  height: auto;
  display: flex !important;
  justify-content: space-around !important;
  align-items: center;
  box-shadow: 0px 17px 31px -36px black; }
  header .navbar .logo {
    color: #000000;
    font-family: "Style Script", cursive;
    font-size: x-large; }
  header .navbar .navbar-nav li {
    margin: 0 10px; }
  header .navbar .navbar-nav a {
    color: #2b2424;
    font-weight: 400;
    font-family: "nunito", sans-serif; }
  header .navbar .navbar-nav a:hover {
    color: #baddc5; }

.main1 {
  grid-area: main; }
  .main1 .hero img {
    height: 600px;
    width: 100%; }
    @media screen and (max-width: 576px) {
      .main1 .hero img {
        height: 400px; } }
  .main1 .container-medio {
    margin-top: 3rem; }
    .main1 .container-medio .contenido-medio {
      display: flex;
      align-items: center;
      justify-items: center;
      justify-content: space-evenly; }
      @media screen and (max-width: 992px) {
        .main1 .container-medio .contenido-medio {
          flex-direction: column; } }
      .main1 .container-medio .contenido-medio .foto-medica img {
        width: 330px;
        height: 300px;
        margin-right: 30px; }
        @media screen and (max-width: 992px) {
          .main1 .container-medio .contenido-medio .foto-medica img {
            margin-top: 3rem;
            margin: auto; } }
      .main1 .container-medio .contenido-medio .asside {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 420px;
        height: 300px; }
        @media screen and (max-width: 992px) {
          .main1 .container-medio .contenido-medio .asside {
            margin-top: 3rem;
            margin-left: auto;
            margin-right: auto; } }
        .main1 .container-medio .contenido-medio .asside h3 {
          color: #333;
          font-weight: bold;
          font-family: "nunito", sans-serif;
          text-align: left; }
        .main1 .container-medio .contenido-medio .asside p {
          font-family: "nunito", sans-serif;
          text-align: center;
          font-weight: bold;
          font-size: larger;
          color: #424242e3; }
        .main1 .container-medio .contenido-medio .asside .ul-asside ul li {
          font-family: "nunito", sans-serif;
          color: #424242cb;
          font-weight: bold;
          list-style: none;
          border-top: rgba(121, 121, 121, 0.699) solid 0.5px; }
        .main1 .container-medio .contenido-medio .asside .ul-asside i {
          margin-right: 10px;
          align-items: center; }
  .main1 .medio-index {
    margin-top: 3rem;
    height: 350px;
    background-color: #d6ffe5; }
    @media screen and (max-width: 992px) {
      .main1 .medio-index {
        height: 600px;
        font-size: smaller; } }
    .main1 .medio-index .descripcion {
      width: 500px;
      margin-top: 6rem; }
      @media screen and (max-width: 992px) {
        .main1 .medio-index .descripcion {
          margin-left: auto;
          margin-right: auto; } }
      .main1 .medio-index .descripcion h3 {
        margin-top: 20px;
        font-size: large;
        color: #333;
        font-family: "nunito", sans-serif;
        text-align: start;
        font-weight: bold; }
    .main1 .medio-index .turnos {
      margin-top: 2rem;
      margin-left: 1.5rem;
      height: 250px;
      width: 300px;
      display: flex;
      justify-content: center;
      text-align: center;
      align-items: center;
      flex-direction: column;
      font-family: "nunito", sans-serif;
      background-color: white;
      border: #808080 solid 0.5px;
      border-radius: 5px;
      box-shadow: 10px 10px 5px 0px #486152; }
      .main1 .medio-index .turnos .subtitulo {
        background-color: #baddc5;
        border: #808080 solid 0.5px;
        border-radius: 5px;
        font-weight: bold;
        width: 80px;
        padding: 5px;
        text-align: center;
        font-size: medium;
        margin-top: 10px;
        margin-bottom: 0px; }
      .main1 .medio-index .turnos .contenido {
        display: flex;
        flex-direction: column;
        align-items: center; }
        .main1 .medio-index .turnos .contenido h3 {
          color: #333;
          font-family: "nunito", sans-serif;
          margin-top: 20px;
          font-size: medium; }
        .main1 .medio-index .turnos .contenido .boton {
          margin-top: 10px;
          font-family: "nunito", sans-serif;
          font-size: small;
          background-color: #baddc5;
          cursor: pointer;
          border: #808080 solid 0.5px;
          padding: 1px 5px;
          border-radius: 5px;
          transition: all 1s; }
          .main1 .medio-index .turnos .contenido .boton:hover {
            border-top-right-radius: 15px;
            border-bottom-left-radius: 15px;
            background-color: #000000;
            color: #ffffff; }
  .main1 .pfc {
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-family: "nunito", sans-serif;
    border: #808080 solid 0.5px;
    box-shadow: 10px 10px 5px 0px #e3e3e3; }
    @media screen and (max-width: 992px) {
      .main1 .pfc {
        font-size: smaller; } }
    .main1 .pfc .tittle-pg {
      text-align: left; }
      .main1 .pfc .tittle-pg i {
        color: #85d39d;
        margin-left: 5px;
        margin-right: 10px;
        font-size: 1em; }
    .main1 .pfc .pg {
      color: #333; }

.main2 {
  grid-area: main; }
  .main2 .promo {
    margin-bottom: 5rem;
    font-family: "nunito", sans-serif;
    font-weight: bold; }
    .main2 .promo .subtitulo-promos {
      font-family: "nunito", sans-serif;
      font-weight: bold;
      border-radius: 5px;
      text-align: center;
      margin-top: 3rem;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 1rem; }
    .main2 .promo .zonaFem-1-x6-a {
      display: flex; }
      .main2 .promo .zonaFem-1-x6-a img {
        width: 80px;
        height: 80px; }
      .main2 .promo .zonaFem-1-x6-a ul li {
        list-style: none; }
        .main2 .promo .zonaFem-1-x6-a ul li button {
          margin-top: 5px;
          padding: 5px; }
    .main2 .promo .zonaFem-1-x6-b {
      display: flex; }
      .main2 .promo .zonaFem-1-x6-b img {
        width: 80px;
        height: 80px; }
      .main2 .promo .zonaFem-1-x6-b ul li {
        list-style: none; }
        .main2 .promo .zonaFem-1-x6-b ul li button {
          margin-top: 5px;
          padding: 5px; }
    .main2 .promo .zonaFem-1-x6-c {
      display: flex; }
      .main2 .promo .zonaFem-1-x6-c img {
        width: 80px;
        height: 80px; }
      .main2 .promo .zonaFem-1-x6-c ul li {
        list-style: none; }
        .main2 .promo .zonaFem-1-x6-c ul li button {
          margin-top: 5px;
          padding: 5px; }
    .main2 .promo .zonaFem-1-x6-d {
      display: flex; }
      .main2 .promo .zonaFem-1-x6-d img {
        width: 80px;
        height: 80px; }
      .main2 .promo .zonaFem-1-x6-d ul li {
        list-style: none; }
        .main2 .promo .zonaFem-1-x6-d ul li button {
          margin-top: 5px;
          padding: 5px; }
    .main2 .promo .zonaFem-2-x6-a {
      display: flex; }
      .main2 .promo .zonaFem-2-x6-a img {
        width: 80px;
        height: 80px; }
      .main2 .promo .zonaFem-2-x6-a ul li {
        list-style: none; }
        .main2 .promo .zonaFem-2-x6-a ul li button {
          margin-top: 5px;
          padding: 5px; }
    .main2 .promo .zonaFem-2-x6-b {
      display: flex; }
      .main2 .promo .zonaFem-2-x6-b img {
        width: 80px;
        height: 80px; }
      .main2 .promo .zonaFem-2-x6-b ul li {
        list-style: none; }
        .main2 .promo .zonaFem-2-x6-b ul li button {
          margin-top: 5px;
          padding: 5px; }
    .main2 .promo .zonaFem-2-x6-c {
      display: flex; }
      .main2 .promo .zonaFem-2-x6-c img {
        width: 80px;
        height: 80px; }
      .main2 .promo .zonaFem-2-x6-c ul li {
        list-style: none; }
        .main2 .promo .zonaFem-2-x6-c ul li button {
          margin-top: 5px;
          padding: 5px; }
    .main2 .promo .zonaFem-2-x6-d {
      display: flex; }
      .main2 .promo .zonaFem-2-x6-d img {
        width: 80px;
        height: 80px; }
      .main2 .promo .zonaFem-2-x6-d ul li {
        list-style: none; }
        .main2 .promo .zonaFem-2-x6-d ul li button {
          margin-top: 5px;
          padding: 5px; }
    .main2 .promo .zonaFem-2-x6-e {
      display: flex; }
      .main2 .promo .zonaFem-2-x6-e img {
        width: 80px;
        height: 80px; }
      .main2 .promo .zonaFem-2-x6-e ul li {
        list-style: none; }
        .main2 .promo .zonaFem-2-x6-e ul li button {
          margin-top: 5px;
          padding: 5px; }
    .main2 .promo .zonaFem-2-x6-f {
      display: flex; }
      .main2 .promo .zonaFem-2-x6-f img {
        width: 80px;
        height: 80px; }
      .main2 .promo .zonaFem-2-x6-f ul li {
        list-style: none; }
        .main2 .promo .zonaFem-2-x6-f ul li button {
          margin-top: 5px;
          padding: 5px; }
    .main2 .promo .zonaFem-3-x1-a {
      display: flex; }
      .main2 .promo .zonaFem-3-x1-a img {
        width: 80px;
        height: 80px; }
      .main2 .promo .zonaFem-3-x1-a ul li {
        list-style: none; }
        .main2 .promo .zonaFem-3-x1-a ul li button {
          margin-top: 5px;
          padding: 5px; }
    .main2 .promo .zonaFem-3-x1-b {
      display: flex; }
      .main2 .promo .zonaFem-3-x1-b img {
        width: 80px;
        height: 80px; }
      .main2 .promo .zonaFem-3-x1-b ul li {
        list-style: none; }
        .main2 .promo .zonaFem-3-x1-b ul li button {
          margin-top: 5px;
          padding: 5px; }
    .main2 .promo .zonaFem-3-x1-c {
      display: flex; }
      .main2 .promo .zonaFem-3-x1-c img {
        width: 80px;
        height: 80px; }
      .main2 .promo .zonaFem-3-x1-c ul li {
        list-style: none; }
        .main2 .promo .zonaFem-3-x1-c ul li button {
          margin-top: 5px;
          padding: 5px; }
    .main2 .promo .zonaFem-3-x1-d {
      display: flex; }
      .main2 .promo .zonaFem-3-x1-d img {
        width: 80px;
        height: 80px; }
      .main2 .promo .zonaFem-3-x1-d ul li {
        list-style: none; }
        .main2 .promo .zonaFem-3-x1-d ul li button {
          margin-top: 5px;
          padding: 5px; }
    .main2 .promo .zonaFem-3-x1-e {
      display: flex; }
      .main2 .promo .zonaFem-3-x1-e img {
        width: 80px;
        height: 80px; }
      .main2 .promo .zonaFem-3-x1-e ul li {
        list-style: none; }
        .main2 .promo .zonaFem-3-x1-e ul li button {
          margin-top: 5px;
          padding: 5px; }
    .main2 .promo .zonaFem-3-x1-f {
      display: flex; }
      .main2 .promo .zonaFem-3-x1-f img {
        width: 80px;
        height: 80px; }
      .main2 .promo .zonaFem-3-x1-f ul li {
        list-style: none; }
        .main2 .promo .zonaFem-3-x1-f ul li button {
          margin-top: 5px;
          padding: 5px; }
    .main2 .promo .zonaFem-3-x1-g {
      display: flex; }
      .main2 .promo .zonaFem-3-x1-g img {
        width: 80px;
        height: 80px; }
      .main2 .promo .zonaFem-3-x1-g ul li {
        list-style: none; }
        .main2 .promo .zonaFem-3-x1-g ul li button {
          margin-top: 5px;
          padding: 5px; }
    .main2 .promo .zonaFem-3-x1-h {
      display: flex; }
      .main2 .promo .zonaFem-3-x1-h img {
        width: 80px;
        height: 80px; }
      .main2 .promo .zonaFem-3-x1-h ul li {
        list-style: none; }
        .main2 .promo .zonaFem-3-x1-h ul li button {
          margin-top: 5px;
          padding: 5px; }
    .main2 .promo .zonaFem-3-x1-i {
      display: flex; }
      .main2 .promo .zonaFem-3-x1-i img {
        width: 80px;
        height: 80px; }
      .main2 .promo .zonaFem-3-x1-i ul li {
        list-style: none; }
        .main2 .promo .zonaFem-3-x1-i ul li button {
          margin-top: 5px;
          padding: 5px; }
    .main2 .promo .zonaFem-3-x1-j {
      display: flex; }
      .main2 .promo .zonaFem-3-x1-j img {
        width: 80px;
        height: 80px; }
      .main2 .promo .zonaFem-3-x1-j ul li {
        list-style: none; }
        .main2 .promo .zonaFem-3-x1-j ul li button {
          margin-top: 5px;
          padding: 5px; }
    .main2 .promo .zonaFem-3-x1-k {
      display: flex; }
      .main2 .promo .zonaFem-3-x1-k img {
        width: 80px;
        height: 80px; }
      .main2 .promo .zonaFem-3-x1-k ul li {
        list-style: none; }
        .main2 .promo .zonaFem-3-x1-k ul li button {
          margin-top: 5px;
          padding: 5px; }
    .main2 .promo .zonaFem-3-x1-l {
      display: flex; }
      .main2 .promo .zonaFem-3-x1-l img {
        width: 80px;
        height: 80px; }
      .main2 .promo .zonaFem-3-x1-l ul li {
        list-style: none; }
        .main2 .promo .zonaFem-3-x1-l ul li button {
          margin-top: 5px;
          padding: 5px; }
    .main2 .promo .zonaFem-3-x1-m {
      display: flex; }
      .main2 .promo .zonaFem-3-x1-m img {
        width: 80px;
        height: 80px; }
      .main2 .promo .zonaFem-3-x1-m ul li {
        list-style: none; }
        .main2 .promo .zonaFem-3-x1-m ul li button {
          margin-top: 5px;
          padding: 5px; }
  .main2 .promo-2 {
    font-family: "nunito", sans-serif;
    font-weight: bold; }
    .main2 .promo-2 .zonaMas-1-x6-a {
      display: flex; }
      .main2 .promo-2 .zonaMas-1-x6-a img {
        width: 80px;
        height: 80px; }
      .main2 .promo-2 .zonaMas-1-x6-a ul li {
        list-style: none; }
        .main2 .promo-2 .zonaMas-1-x6-a ul li button {
          margin-top: 5px;
          padding: 5px; }
    .main2 .promo-2 .zonaMas-1-x6-b {
      display: flex; }
      .main2 .promo-2 .zonaMas-1-x6-b img {
        width: 80px;
        height: 80px; }
      .main2 .promo-2 .zonaMas-1-x6-b ul li {
        list-style: none; }
        .main2 .promo-2 .zonaMas-1-x6-b ul li button {
          margin-top: 5px;
          padding: 5px; }
    .main2 .promo-2 .zonaMas-1-x6-c {
      display: flex; }
      .main2 .promo-2 .zonaMas-1-x6-c img {
        width: 80px;
        height: 80px; }
      .main2 .promo-2 .zonaMas-1-x6-c ul li {
        list-style: none; }
        .main2 .promo-2 .zonaMas-1-x6-c ul li button {
          margin-top: 5px;
          padding: 5px; }
    .main2 .promo-2 .zonaMas-1-x6-d {
      display: flex; }
      .main2 .promo-2 .zonaMas-1-x6-d img {
        width: 80px;
        height: 80px; }
      .main2 .promo-2 .zonaMas-1-x6-d ul li {
        list-style: none; }
        .main2 .promo-2 .zonaMas-1-x6-d ul li button {
          margin-top: 5px;
          padding: 5px; }
    .main2 .promo-2 .zonaMas-2-x6-a {
      display: flex; }
      .main2 .promo-2 .zonaMas-2-x6-a img {
        width: 80px;
        height: 80px; }
      .main2 .promo-2 .zonaMas-2-x6-a ul li {
        list-style: none; }
        .main2 .promo-2 .zonaMas-2-x6-a ul li button {
          margin-top: 5px;
          padding: 5px; }
    .main2 .promo-2 .zonaMas-2-x6-b {
      display: flex; }
      .main2 .promo-2 .zonaMas-2-x6-b img {
        width: 80px;
        height: 80px; }
      .main2 .promo-2 .zonaMas-2-x6-b ul li {
        list-style: none; }
        .main2 .promo-2 .zonaMas-2-x6-b ul li button {
          margin-top: 5px;
          padding: 5px; }
    .main2 .promo-2 .zonaMas-2-x6-c {
      display: flex; }
      .main2 .promo-2 .zonaMas-2-x6-c img {
        width: 80px;
        height: 80px; }
      .main2 .promo-2 .zonaMas-2-x6-c ul li {
        list-style: none; }
        .main2 .promo-2 .zonaMas-2-x6-c ul li button {
          margin-top: 5px;
          padding: 5px; }
    .main2 .promo-2 .zonaMas-2-x6-d {
      display: flex; }
      .main2 .promo-2 .zonaMas-2-x6-d img {
        width: 80px;
        height: 80px; }
      .main2 .promo-2 .zonaMas-2-x6-d ul li {
        list-style: none; }
        .main2 .promo-2 .zonaMas-2-x6-d ul li button {
          margin-top: 5px;
          padding: 5px; }
    .main2 .promo-2 .zonaMas-2-x6-e {
      display: flex; }
      .main2 .promo-2 .zonaMas-2-x6-e img {
        width: 80px;
        height: 80px; }
      .main2 .promo-2 .zonaMas-2-x6-e ul li {
        list-style: none; }
        .main2 .promo-2 .zonaMas-2-x6-e ul li button {
          margin-top: 5px;
          padding: 5px; }
    .main2 .promo-2 .zonaMas-2-x6-f {
      display: flex; }
      .main2 .promo-2 .zonaMas-2-x6-f img {
        width: 80px;
        height: 80px; }
      .main2 .promo-2 .zonaMas-2-x6-f ul li {
        list-style: none; }
        .main2 .promo-2 .zonaMas-2-x6-f ul li button {
          margin-top: 5px;
          padding: 5px; }
    .main2 .promo-2 .zonaMas-2-x6-g {
      display: flex; }
      .main2 .promo-2 .zonaMas-2-x6-g img {
        width: 80px;
        height: 80px; }
      .main2 .promo-2 .zonaMas-2-x6-g ul li {
        list-style: none; }
        .main2 .promo-2 .zonaMas-2-x6-g ul li button {
          margin-top: 5px;
          padding: 5px; }
    .main2 .promo-2 .zonaMas-2-x6-h {
      display: flex; }
      .main2 .promo-2 .zonaMas-2-x6-h img {
        width: 80px;
        height: 80px; }
      .main2 .promo-2 .zonaMas-2-x6-h ul li {
        list-style: none; }
        .main2 .promo-2 .zonaMas-2-x6-h ul li button {
          margin-top: 5px;
          padding: 5px; }
    .main2 .promo-2 .zonaMas-2-x6-i {
      display: flex; }
      .main2 .promo-2 .zonaMas-2-x6-i img {
        width: 80px;
        height: 80px; }
      .main2 .promo-2 .zonaMas-2-x6-i ul li {
        list-style: none; }
        .main2 .promo-2 .zonaMas-2-x6-i ul li button {
          margin-top: 5px;
          padding: 5px; }
    .main2 .promo-2 .zonaMas-3-x1-a {
      display: flex; }
      .main2 .promo-2 .zonaMas-3-x1-a img {
        width: 80px;
        height: 80px; }
      .main2 .promo-2 .zonaMas-3-x1-a ul li {
        list-style: none; }
        .main2 .promo-2 .zonaMas-3-x1-a ul li button {
          margin-top: 5px;
          padding: 5px; }
    .main2 .promo-2 .zonaMas-3-x1-b {
      display: flex; }
      .main2 .promo-2 .zonaMas-3-x1-b img {
        width: 80px;
        height: 80px; }
      .main2 .promo-2 .zonaMas-3-x1-b ul li {
        list-style: none; }
        .main2 .promo-2 .zonaMas-3-x1-b ul li button {
          margin-top: 5px;
          padding: 5px; }
    .main2 .promo-2 .zonaMas-3-x1-c {
      display: flex; }
      .main2 .promo-2 .zonaMas-3-x1-c img {
        width: 80px;
        height: 80px; }
      .main2 .promo-2 .zonaMas-3-x1-c ul li {
        list-style: none; }
        .main2 .promo-2 .zonaMas-3-x1-c ul li button {
          margin-top: 5px;
          padding: 5px; }
    .main2 .promo-2 .zonaMas-3-x1-d {
      display: flex; }
      .main2 .promo-2 .zonaMas-3-x1-d img {
        width: 80px;
        height: 80px; }
      .main2 .promo-2 .zonaMas-3-x1-d ul li {
        list-style: none; }
        .main2 .promo-2 .zonaMas-3-x1-d ul li button {
          margin-top: 5px;
          padding: 5px; }
    .main2 .promo-2 .zonaMas-3-x1-e {
      display: flex; }
      .main2 .promo-2 .zonaMas-3-x1-e img {
        width: 80px;
        height: 80px; }
      .main2 .promo-2 .zonaMas-3-x1-e ul li {
        list-style: none; }
        .main2 .promo-2 .zonaMas-3-x1-e ul li button {
          margin-top: 5px;
          padding: 5px; }
    .main2 .promo-2 .zonaMas-3-x1-f {
      display: flex; }
      .main2 .promo-2 .zonaMas-3-x1-f img {
        width: 80px;
        height: 80px; }
      .main2 .promo-2 .zonaMas-3-x1-f ul li {
        list-style: none; }
        .main2 .promo-2 .zonaMas-3-x1-f ul li button {
          margin-top: 5px;
          padding: 5px; }
    .main2 .promo-2 .zonaMas-3-x1-g {
      display: flex; }
      .main2 .promo-2 .zonaMas-3-x1-g img {
        width: 80px;
        height: 80px; }
      .main2 .promo-2 .zonaMas-3-x1-g ul li {
        list-style: none; }
        .main2 .promo-2 .zonaMas-3-x1-g ul li button {
          margin-top: 5px;
          padding: 5px; }
    .main2 .promo-2 .zonaMas-3-x1-h {
      display: flex; }
      .main2 .promo-2 .zonaMas-3-x1-h img {
        width: 80px;
        height: 80px; }
      .main2 .promo-2 .zonaMas-3-x1-h ul li {
        list-style: none; }
        .main2 .promo-2 .zonaMas-3-x1-h ul li button {
          margin-top: 5px;
          padding: 5px; }
    .main2 .promo-2 .zonaMas-3-x1-i {
      display: flex; }
      .main2 .promo-2 .zonaMas-3-x1-i img {
        width: 80px;
        height: 80px; }
      .main2 .promo-2 .zonaMas-3-x1-i ul li {
        list-style: none; }
        .main2 .promo-2 .zonaMas-3-x1-i ul li button {
          margin-top: 5px;
          padding: 5px; }

.main3 {
  grid-area: main; }
  .main3 .qs {
    text-align: center;
    justify-content: center;
    justify-items: center;
    margin-top: 5rem;
    margin-bottom: 5rem; }
    .main3 .qs h2 {
      font-family: "nunito", sans-serif;
      font-weight: bold;
      color: #333;
      margin-top: 1.5rem;
      margin-left: auto;
      margin-right: auto; }
    .main3 .qs p {
      color: #333;
      margin-top: 0,5rem;
      text-align: left;
      font-family: "nunito", sans-serif;
      padding: 20px;
      width: 700px; }
      @media screen and (max-width: 992px) {
        .main3 .qs p {
          width: 690px; } }
      @media screen and (max-width: 768px) {
        .main3 .qs p {
          width: 500px; } }
    .main3 .qs .item1, .main3 .qs .item2, .main3 .qs .item3 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      border: #808080 solid 0.5px;
      border-radius: 5px;
      background-color: white;
      width: 700px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 3rem;
      height: 200px;
      box-shadow: 10px 10px 5px 0px #e3e3e3; }
      @media screen and (max-width: 576px) {
        .main3 .qs .item1, .main3 .qs .item2, .main3 .qs .item3 {
          width: 500px; } }
    @media screen and (max-width: 576px) {
      .main3 .qs .item2 {
        width: 500px; } }
    .main3 .qs .item3 {
      height: 600px;
      margin-bottom: 0px; }
      @media screen and (max-width: 576px) {
        .main3 .qs .item3 {
          width: 500px;
          height: 750; } }
      .main3 .qs .item3 .mapa {
        padding: 30px;
        width: 670px;
        background-color: #333;
        border-radius: 5px;
        box-shadow: 10px 10px 5px 0px #e3e3e3; }
        @media screen and (max-width: 992px) {
          .main3 .qs .item3 .mapa {
            width: 670px; } }
        @media screen and (max-width: 768px) {
          .main3 .qs .item3 .mapa {
            width: 510px; } }
        @media screen and (max-width: 576px) {
          .main3 .qs .item3 .mapa {
            width: 470px; } }
        @media screen and (max-width: 992px) {
          .main3 .qs .item3 .mapa iframe {
            width: 670px; } }
        @media screen and (max-width: 768px) {
          .main3 .qs .item3 .mapa iframe {
            width: 510px; } }
        @media screen and (max-width: 576px) {
          .main3 .qs .item3 .mapa iframe {
            width: 470px; } }
        .main3 .qs .item3 .mapa .mapa_foto {
          width: 500px;
          height: 200px;
          margin: 0px; }

.main4 {
  grid-area: main;
  margin-bottom: 1.5rem; }
  .main4 .principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; }
    .main4 .principal h2 {
      color: #333;
      font-weight: bold; }
    .main4 .principal h3 {
      color: #333;
      font-size: medium; }
    .main4 .principal .cts-container {
      font-family: "nunito", sans-serif;
      margin-top: 5rem;
      margin-right: auto;
      margin-left: auto;
      width: 550px;
      height: 550px;
      border-radius: 5px; }
      @media screen and (max-width: 576px) {
        .main4 .principal .cts-container {
          width: 390px; } }
      .main4 .principal .cts-container .cts {
        margin: 1rem;
        padding: 5px 10px;
        width: 220px;
        margin-left: auto;
        margin-right: auto; }
        .main4 .principal .cts-container .cts p {
          width: 360px;
          text-align: left; }
      .main4 .principal .cts-container .formulario-contacto {
        background-color: #d6ffe5;
        border-radius: 5px;
        border: 0.5px solid #808080;
        margin-bottom: 1rem;
        font-family: "nunito", sans-serif; }
      .main4 .principal .cts-container .redes-container-contacto {
        list-style-type: none;
        margin-bottom: 1rem;
        margin-left: auto;
        margin-right: auto; }
        .main4 .principal .cts-container .redes-container-contacto li {
          display: inline-block;
          margin: 10px; }
          .main4 .principal .cts-container .redes-container-contacto li a {
            text-decoration: none;
            padding: 5px 10px;
            font-size: 1.5em;
            border-radius: 5px;
            color: #a8a8a8;
            background-color: #424242;
            transition: 1s; }
          .main4 .principal .cts-container .redes-container-contacto li .whatsapp:hover {
            color: #25D366;
            text-decoration: none; }
          .main4 .principal .cts-container .redes-container-contacto li .instagram:hover {
            color: #C13584;
            text-decoration: none; }
          .main4 .principal .cts-container .redes-container-contacto li .facebook:hover {
            color: #3b5998;
            text-decoration: none; }

.main5 {
  grid-area: main; }
  .main5 .registro {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6rem;
    margin-bottom: 1rem;
    font-family: "nunito", sans-serif;
    text-align: center; }
    .main5 .registro h2 {
      font-family: "nunito", sans-serif;
      margin-bottom: 2rem;
      color: #333;
      font-weight: bold; }
    .main5 .registro form {
      background-color: #d6ffe5;
      border: #808080 solid 0.5px;
      border-radius: 5px;
      box-shadow: 10px 10px 5px 0px #e3e3e3;
      padding: 10px; }
    .main5 .registro .linkRegistrarse {
      margin-top: 1rem;
      margin-bottom: 7rem; }
      .main5 .registro .linkRegistrarse a {
        color: #424242; }
    .main5 .registro .linkIngresar {
      margin-top: 1rem;
      margin-bottom: 7rem; }
      .main5 .registro .linkIngresar a {
        color: #424242; }

footer {
  grid-area: footer;
  display: flex;
  flex-direction: column;
  background-color: black;
  width: 100%;
  height: auto;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 1rem;
  margin-bottom: 0px;
  border-top: #808080 solid 1px; }
  footer .footer-container {
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 25px;
    margin-bottom: 50px; }
    @media screen and (max-width: 576px) {
      footer .footer-container {
        flex-direction: column-reverse; } }
    footer .footer-container h5 {
      color: white;
      font-family: "nunito", sans-serif; }
    footer .footer-container .footer-container-1 {
      display: flex;
      flex-direction: row;
      justify-content: space-around; }
      footer .footer-container .footer-container-1 .logo-container {
        display: flex;
        flex-direction: row;
        justify-content: center; }
        footer .footer-container .footer-container-1 .logo-container a {
          text-decoration: none; }
          footer .footer-container .footer-container-1 .logo-container a h1 {
            margin-top: 10px;
            margin-left: 5px;
            font-size: large;
            color: white;
            font-family: "Style Script", cursive; }
        footer .footer-container .footer-container-1 .logo-container .logo-footer {
          background-color: white;
          border-radius: 50%; }
      footer .footer-container .footer-container-1 .menu-container ul {
        margin: 0;
        padding: 0; }
        footer .footer-container .footer-container-1 .menu-container ul li {
          list-style-type: none; }
          footer .footer-container .footer-container-1 .menu-container ul li a {
            text-decoration: none;
            color: #808080;
            font-family: "nunito", sans-serif; }
          footer .footer-container .footer-container-1 .menu-container ul li a:hover {
            text-decoration: underline;
            color: #d3d0d0; }
      footer .footer-container .footer-container-1 .redes-container ul {
        margin: 0;
        padding: 0; }
        footer .footer-container .footer-container-1 .redes-container ul li {
          margin: 10px;
          list-style-type: none; }
          footer .footer-container .footer-container-1 .redes-container ul li a {
            text-decoration: none;
            padding: 2px;
            font-size: 1em;
            border-radius: 5px;
            color: #808080;
            transition: 1s; }
          footer .footer-container .footer-container-1 .redes-container ul li .whatsapp:hover {
            background: #a1a1a1;
            color: #333;
            text-decoration: none; }
          footer .footer-container .footer-container-1 .redes-container ul li .instagram:hover {
            background: #a1a1a1;
            color: #333;
            text-decoration: none; }
          footer .footer-container .footer-container-1 .redes-container ul li .facebook:hover {
            background: #a1a1a1;
            color: #333;
            text-decoration: none; }
    footer .footer-container .footer-container-2 .contacto-container {
      margin-top: 25px;
      display: flex;
      flex-direction: column;
      align-items: center; }
      footer .footer-container .footer-container-2 .contacto-container h5 {
        font-family: "nunito", sans-serif;
        margin-top: 15px;
        margin-bottom: 15px; }
      footer .footer-container .footer-container-2 .contacto-container a {
        text-align: center;
        color: white;
        padding: 5px;
        width: 250px;
        margin-top: 5px;
        text-decoration: none;
        color: #333;
        font-family: "nunito", sans-serif;
        background-color: gainsboro;
        border-radius: 5px;
        border: solid #bbb9b9 0.5px; }
      footer .footer-container .footer-container-2 .contacto-container a:hover {
        background-color: #c7c7c7; }
  footer .copy {
    text-align: center;
    font-family: "Style Script", cursive;
    color: #808080;
    font-size: medium; }
