@import "mixins.scss";
body{
    margin-top: 70px;
    background-color: #fdfdfd;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    @include media-down(lg){
        width: 100%;
    }
    @include media-down(md){
        width: 100%;
    }
    @include media-down(sm){
        width: 100%;
    }
    @include media-down(xs){
        width: 100%;
    }
}
.body2{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    background-image: url("../assets/media/fondo.png");
    background-repeat: no-repeat;
    background-size: cover; 
    @include media-down(lg){
        width: 100%;
    }
    @include media-down(md){
        width: 100%;
    }
    @include media-down(sm){
        width: 100%;
    }
    @include media-down(xs){
        width: 100%;
    }
    }
.body3{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    background-image: url("../assets/media/fondo.png");
    background-repeat: no-repeat;
    background-size: cover;
    @include media-down(lg){
        width: 100%;
    }
    @include media-down(md){
        width: 100%;
    }
    @include media-down(sm){
        width: 100%;
    }
    @include media-down(xs){
        width: 100%;
    } 
}
.body4{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    background-image: url("../assets/media/fondo.png");
    background-repeat: no-repeat;
    background-size: cover;
    @include media-down(lg){
        width: 100%;
    }
    @include media-down(md){
        width: 100%;
    }
    @include media-down(sm){
        width: 100%;
    }
    @include media-down(xs){
        width: 100%;
    }
}
.body5{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    background-image: url("../assets/media/fondo.png");
    background-repeat: no-repeat;
    background-size: cover;
    @include media-down(lg){
        width: 100%;
    }
    @include media-down(md){
        width: 100%;
    }
    @include media-down(sm){
        width: 100%;
    }
    @include media-down(xs){
        width: 100%;
    }
}
