@import "mixins.scss";
body{
    margin-top: 70px;
    background-color: #fdfdfd;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    "header"
    "main"
    "footer";

}
.body2{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    background-image: url("../assets/media/fondo.png");
    background-repeat: no-repeat;
    background-size: cover; 

    }
.body3{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    background-image: url("../assets/media/fondo.png");
    background-repeat: no-repeat;
    background-size: cover;

}
.body4{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    background-image: url("../assets/media/fondo.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.body5{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    background-image: url("../assets/media/fondo.png");
    background-repeat: no-repeat;
    background-size: cover;
}
