.zonaFem-1-x6-a{
    display: flex;
    img{
        width: 80px;
        height: 80px;
    }
    ul{
        li{
            list-style: none;
            button{
                margin-top: 5px;
                padding: 5px;
            }
        }
    }
}
.zonaFem-1-x6-b{
    display: flex;
    img{
        width: 80px;
        height: 80px;
    }
    ul{
        li{
            list-style: none;
            button{
                margin-top: 5px;
                padding: 5px;
            }
        }
    }
}
.zonaFem-1-x6-c{
    display: flex;
    img{
        width: 80px;
        height: 80px;
    }
    ul{
        li{
            list-style: none;
            button{
                margin-top: 5px;
                padding: 5px;
            }
        }
    }
}
.zonaFem-1-x6-d{
    display: flex;
    img{
        width: 80px;
        height: 80px;
    }
    ul{
        li{
            list-style: none;
            button{
                margin-top: 5px;
                padding: 5px;
            }
        }
    }
}
.zonaFem-2-x6-a{
    display: flex;
    img{
        width: 80px;
        height: 80px;
    }
    ul{
        li{
            list-style: none;
            button{
                margin-top: 5px;
                padding: 5px;
            }
        }
    }
}
.zonaFem-2-x6-b{
    display: flex;
    img{
        width: 80px;
        height: 80px;
    }
    ul{
        li{
            list-style: none;
            button{
                margin-top: 5px;
                padding: 5px;
            }
        }
    }
}
.zonaFem-2-x6-c{
    display: flex;
    img{
        width: 80px;
        height: 80px;
    }
    ul{
        li{
            list-style: none;
            button{
                margin-top: 5px;
                padding: 5px;
            }
        }
    }
}
.zonaFem-2-x6-d{
    display: flex;
    img{
        width: 80px;
        height: 80px;
    }
    ul{
        li{
            list-style: none;
            button{
                margin-top: 5px;
                padding: 5px;
            }
        }
    }
}
.zonaFem-2-x6-e{
    display: flex;
    img{
        width: 80px;
        height: 80px;
    }
    ul{
        li{
            list-style: none;
            button{
                margin-top: 5px;
                padding: 5px;
            }
        }
    }
}
.zonaFem-2-x6-f{
    display: flex;
    img{
        width: 80px;
        height: 80px;
    }
    ul{
        li{
            list-style: none;
            button{
                margin-top: 5px;
                padding: 5px;
            }
        }
    }
}
.zonaFem-3-x1-a{
    display: flex;
    img{
        width: 80px;
        height: 80px;
    }
    ul{
        li{
            list-style: none;
            button{
                margin-top: 5px;
                padding: 5px;
            }
        }
    }
}
.zonaFem-3-x1-b{
    display: flex;
    img{
        width: 80px;
        height: 80px;
    }
    ul{
        li{
            list-style: none;
            button{
                margin-top: 5px;
                padding: 5px;
            }
        }
    }
}
.zonaFem-3-x1-c{
    display: flex;
    img{
        width: 80px;
        height: 80px;
    }
    ul{
        li{
            list-style: none;
            button{
                margin-top: 5px;
                padding: 5px;
            }
        }
    }
}
.zonaFem-3-x1-d{
    display: flex;
    img{
        width: 80px;
        height: 80px;
    }
    ul{
        li{
            list-style: none;
            button{
                margin-top: 5px;
                padding: 5px;
            }
        }
    }
}
.zonaFem-3-x1-e{
    display: flex;
    img{
        width: 80px;
        height: 80px;
    }
    ul{
        li{
            list-style: none;
            button{
                margin-top: 5px;
                padding: 5px;
            }
        }
    }
}
.zonaFem-3-x1-f{
    display: flex;
    img{
        width: 80px;
        height: 80px;
    }
    ul{
        li{
            list-style: none;
            button{
                margin-top: 5px;
                padding: 5px;
            }
        }
    }
}
.zonaFem-3-x1-g{
    display: flex;
    img{
        width: 80px;
        height: 80px;
    }
    ul{
        li{
            list-style: none;
            button{
                margin-top: 5px;
                padding: 5px;
            }
        }
    }
}
.zonaFem-3-x1-h{
    display: flex;
    img{
        width: 80px;
        height: 80px;
    }
    ul{
        li{
            list-style: none;
            button{
                margin-top: 5px;
                padding: 5px;
            }
        }
    }
}
.zonaFem-3-x1-i{
    display: flex;
    img{
        width: 80px;
        height: 80px;
    }
    ul{
        li{
            list-style: none;
            button{
                margin-top: 5px;
                padding: 5px;
            }
        }
    }
}
.zonaFem-3-x1-j{
    display: flex;
    img{
        width: 80px;
        height: 80px;
    }
    ul{
        li{
            list-style: none;
            button{
                margin-top: 5px;
                padding: 5px;
            }
        }
    }
}
.zonaFem-3-x1-k{
    display: flex;
    img{
        width: 80px;
        height: 80px;
    }
    ul{
        li{
            list-style: none;
            button{
                margin-top: 5px;
                padding: 5px;
            }
        }
    }
}
.zonaFem-3-x1-l{
    display: flex;
    img{
        width: 80px;
        height: 80px;
    }
    ul{
        li{
            list-style: none;
            button{
                margin-top: 5px;
                padding: 5px;
            }
        }
    }
}
.zonaFem-3-x1-m{
    display: flex;
    img{
        width: 80px;
        height: 80px;
    }
    ul{
        li{
            list-style: none;
            button{
                margin-top: 5px;
                padding: 5px;
            }
        }
    }
}