@import "maps.scss";
@import "mixins.scss";
@import "colors.scss";
@import "typography.scss";
@import "body.scss";
@import "header.scss";

.main1{
    grid-area: main;
    .hero{
    grid-area: hero;
    display: flex;
    align-items: center;
    color: white;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    width: 100%;
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5));
    background-image: url("../assets/media/fondoVerde.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: $logoLetra;
    font-size:xx-large;

    @include media-down(lg){
        width: 100%;
    }

    @include media-down(md){
        width: 100%;
    }

    @include media-down(sm){
        width: 100%;
    }
    }

    .container-medio{
        margin-top: 3rem;
        .contenido-medio{
            display: flex;
            align-items: center;
            justify-items: center;
            justify-content: space-evenly;
            
            @include media-down(md){
                flex-direction: column;
            }
            .foto-medica img{
                width: 330px;
                height: 300px;
                margin-right: 30px;
            
                @include media-down(md){
                    margin-top: 3rem;
                    margin: auto;
                }

                @include media-down(sm){
                        
                }
                   
            }
            .asside{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 420px;
                height: 300px;
                @include media-down(md){
                    margin-top: 3rem;
                    margin-left: auto;
                    margin-right: auto;
                }
                h3{
                    color: $color-letra;
                    font-weight: bold;
                    font-family: $letra;
                    text-align: left;  
                }
                p{
                    font-family: $letra;
                    text-align: center;
                    font-weight: bold;
                    font-size: larger;
                    color: #424242e3;
                }
                .ul-asside{
                    ul{
                        li{
                            font-family: $letra;
                            color: #424242cb;
                            font-weight: bold;
                            list-style: none;
                            border-top: rgba(121, 121, 121, 0.699) solid 0.5px;
                        }
                    }
                    i{
                        margin-right: 10px;
                        align-items: center; 
                    }
                }
            }
        }
    }
    .medio-index{
        margin-top: 3rem;
        height: 350px;
        background-color: $color-footer;
        
        @include media-down(md){
            height: 600px;
            font-size: smaller;
        }

        .descripcion{
            width: 500px;
            margin-top: 6rem;
            @include media-down(md){
                    margin-left: auto;
                    margin-right: auto;
                }
            h3{
                margin-top: 20px;
                font-size: large;
                color: $color-letra;
                font-family: $letra;
                text-align: start;
                font-weight: bold;
            }
        }
        .turnos{
            margin-top: 2rem;
            margin-left: 1.5rem;
            height: 250px;
            width: 300px;
            display: flex;
            justify-content: center;
            text-align: center;
            align-items: center;
            flex-direction: column;
            font-family: $letra;
            background-color: white;
            border: $color-border solid 0.5px;
            border-radius: 5px;
            box-shadow: 10px 10px 5px 0px rgb(72, 97, 82);
            .subtitulo{
                background-color: #baddc5;
                border: $color-border solid 0.5px;
                border-radius: 5px;
                font-weight: bold;
                width: 80px;
                padding: 5px;
                text-align: center;
                font-size: medium;
                margin-top: 10px;
                margin-bottom: 0px;
            }
            .contenido{
                display: flex;
                flex-direction: column;
                align-items: center;
                h3{
                    color: $color-letra;
                    font-family: $letra;
                    margin-top: 20px;
                    font-size: medium;
                }
                .boton{
                    margin-top: 10px;
                    font-family: $letra;
                    font-size: small;
                    background-color: #baddc5;
                    cursor:pointer;
                    border: $color-border solid 0.5px;
                    padding:1px 5px;
                    border-radius:5px;
                    transition:all 1s;
                    &:hover{
                        border-top-right-radius: 15px;
                        border-bottom-left-radius: 15px;
                        background-color: #000000;
                        color: #ffffff;  
                    }
                }
            }
        }
    }
    .pfc{
        text-align: center;
        margin-top:3rem;
        margin-bottom: 3rem;
        font-family: $letra;
        border: $color-border solid 0.5px;
        box-shadow: 10px 10px 5px 0px rgba(227,227,227,1);
        @include media-down(md){
            font-size: smaller;
        }
        .tittle-pg{
            text-align: left;   
            i{
                color: #85d39d;
                margin-left: 5px;
                margin-right: 10px;
                font-size: 1em;
            }
        }
        .pg{
            color: $color-letra;
        }
    }
}

.main2{
    grid-area: main;
    .promo{
        margin-bottom: 5rem;
        font-family: $letra;
        font-weight: bold;
        .subtitulo-promos{
            font-family: $letra;
            font-weight: bold;
            border-radius: 5px;
            text-align: center;
            margin-top: 3rem;
            margin-left: auto;     
            margin-right: auto;
            margin-bottom: 1rem;
        }
        @import "zonaFem.scss";
    }
    .promo-2{
        font-family: $letra;
        font-weight: bold;

        @import "zonaMas.scss";
    }
}


.main3{
    grid-area: main;
    .qs{
        text-align: center;
        justify-content: center;
        justify-items: center;
        margin-top: 5rem;
        margin-bottom: 5rem;
        h2{
            font-family: $letra;
            font-weight: bold;
            color: $color-letra;
            margin-top: 1.5rem;
            margin-left: auto;
            margin-right: auto;
        }
        p{  
            color: $color-letra;
            margin-top: 0,5rem;
            text-align: left;
            font-family: $letra;
            padding:20px;
            width: 700px;
            @include media-down(md){
                width: 690px;
            }
            @include media-down(sm){
                width: 500px;
            }
        }
        .item1{
            display: flex;
            flex-direction: column;
            justify-content: center;
            border: $color-border solid 0.5px;
            border-radius: 5px;
            background-color: white;
            width: 700px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 3rem;
            height: 200px;
            box-shadow: 10px 10px 5px 0px rgba(227,227,227,1);
            @include media-down(xs){
                width: 500px;
            }
        }
        .item2{
            @extend .item1;
            @include media-down(xs){
                width: 500px;
            }
            }
        .item3{
            @extend .item1;
            height: 600px;
            margin-bottom: 0px;
            @include media-down(xs){
                width: 500px;
                height: 750;
            }
            .mapa{
                padding: 30px;
                width: 670px;
                background-color: #333;
                border-radius: 5px;
                box-shadow: 10px 10px 5px 0px rgba(227,227,227,1);
                @include media-down(md){
                    width: 670px;
                }
                @include media-down(sm){
                    width: 510px;
                }
                @include media-down(xs){
                    width: 470px;
                }
                iframe{
                    @include media-down(md){
                        width: 670px;
                    }
                    @include media-down(sm){
                        width: 510px;
                    }
                    @include media-down(xs){
                        width: 470px;
                    }
                }

                
                .mapa_foto{
                    width: 500px;
                    height: 200px;
                    margin: 0px;
                }
            }
        }
    }
}

.main4{
    grid-area: main;
    margin-bottom: 1.5rem;
    .principal{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        h2{
            color: $color-letra;
            font-weight: bold;
        }
        h3{
            color: $color-letra;
            font-size: medium;
        }
        .cts-container{
            font-family: $letra;
            margin-top: 5rem;
            margin-right: auto;
            margin-left: auto;
            width: 550px;
            height: 550px;
            border-radius: 5px;
            @include media-down(xs){
                width: 390px;
            }
            .cts{
                margin: 1rem;
                padding: 5px 10px;
                width: 220px;
                margin-left: auto;
                margin-right: auto; 
                h2{
                    
                }
                p{
                    width: 360px;
                    text-align: left;
                }    
            }
            .formulario-contacto{
                background-color: $color-footer;
                border-radius: 5px;
                border: 0.5px solid $color-border;
                margin-bottom: 1rem;
                font-family: $letra;
            }
            .redes-container-contacto{
                list-style-type: none;
                margin-bottom: 1rem;
                margin-left: auto;
                margin-right: auto;
                li{
                    display: inline-block;
                    margin: 10px;
                    a{
                        text-decoration: none;
                        padding: 5px 10px;
                        font-size: 1.5em;
                        border-radius: 5px;
                        color: rgb(168, 168, 168);
                        background-color: #424242;

                        transition: 1s;
                    }
                    .whatsapp:hover{
                        color: #25D366;
                        text-decoration: none;
                    }
                    .instagram:hover{
                        color: #C13584;
                        text-decoration: none;
                    }
                    .facebook:hover{
                        color: #3b5998;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

.main5{
    grid-area: main;
    .registro{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 6rem;
        margin-bottom: 1rem;
        font-family: $letra;
        text-align: center;
        h2{
            font-family: $letra;
            margin-bottom: 2rem;
            color: $color-letra;
            font-weight: bold;
        }
        form{
            background-color: #d6ffe5;
            border: $color-border solid 0.5px;
            border-radius: 5px;
            box-shadow: 10px 10px 5px 0px rgba(227,227,227,1);
            padding: 10px;
        }
        .linkRegistrarse{
            margin-top: 1rem;
            margin-bottom: 7rem;
            a{
                color: #424242;
            }
        }
        .linkIngresar{
            margin-top: 1rem;
            margin-bottom: 7rem;
            a{
                color: #424242;
            }
        }
    }
}


@import "footer.scss";