* {
    margin:0;
    padding:0;
    box-sizing: border-box;
 }
 body{
    background-color: rgb(245, 245, 245);
}

header{
    background-color: #baddc5;
    display: flex;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.logo{
    color: #000000;
    font-family: 'Style Script', cursive;
    display: flex;
    align-items: center;
}

.logo .foto{
    width: 70px;
    height: 70px;
    margin-right: 15px;
}

.menu-home{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    margin-right: 70px;
}

.menu-home li{
    padding: 5px;
    margin-right: 20px;
}

.menu-home li a{
    padding: 5px;
    text-decoration: none;
    color: #000000;
    font-family: 'Style Script', cursive;
    font-weight: 600;
    font-size: x-large;
}

.menu-home li a:hover{
    background-color: #95b09e;
    border-radius: 5%;    
}

.qs{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-family:'Roboto Slab', serif;
    margin-top: 3rem;
    height: 90vh;
    margin-bottom: 5rem;
}

h2{
    margin-top: 3rem;
    border: solid black;
    border-radius: 5px;
    padding: 5px 10px;
    font-family: 'Roboto Slab', serif;
    background-color: #baddc5;
}

p{
    margin-top: 0,5rem;
    text-align: center;
    font-family:'Roboto Slab', serif;
    padding:20px;
    width: 700px;
}

h3{
    font-family:'Roboto Slab', serif;
    text-align: center;
}


footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #baddc5;
    height: 16vh;
    margin: 0;
}

.contact{
    list-style: none;
    margin: 0px 15px;
}

.contact li{
    display: flex;
    text-align:left;
    padding: 5px;
    background-color: #baddc5;
    font-family: 'Roboto', sans-serif;
    font-size: medium;
    font-weight: 400;  
}

.copy{
    display: flex;
    text-align: center;
    justify-content: baseline;
    font-family:'Style Script', cursive;
    font-size: large;
}

.copy p{
    font-family: 'Style Script', cursive;
}
 /*tuve que ponerlo asi porque no me lo tomaba como en el del index, no se por qué*/

 .links{
    list-style-type: none;
    margin: 0;
}

.links li{
    display: inline-block;
    text-align:right;
    margin: 10px;
    padding: 10px;
    border-radius: 15%;
}

.links li a{
    text-decoration: none;
    padding: 10px;
    color: #000000;
    font-family: 'Roboto', sans-serif;
}

.links li a:hover{
    background-color: #6464649a;
    border-radius: 10%;
}
